@model IEnumerable<milkify.Models.MilkCollection>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Collection </h4>
<hr />
<div class="container mt-3">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Collection" asp-action="AddCollection">NewCollection</a>
        </li>
    </ul>
</div>
<p style="color:green">@TempData["Succes"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FarmerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatePerLiter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MilkType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FarmerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatePerLiter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MilkType)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
